{{!-- Adapted from https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}

{{!-- Page name --}}
<h1>Drugs</h1>

{{!-- Search bar --}}
<div class="group">
    <label for="search-drug-generic-name">Search by Generic Name: </label>
    <input type="text" id="search-drug-generic-name">
</div>

{{!-- Create a table --}}
<table id="drugs-table">
    <thead>
        <tr>
            <th>Generic Name</th>
            <th>Brand Name</th>
            <th>Description</th>
            <th>Controlled</th>
            <th>Strength</th>
            <th>Action</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.drugID}}>
            <td class="generic-name">{{this.genericName}}</td>
            <td>{{this.brandName}}</td>
            <td>{{this.description}}</td>
            <td>{{this.isControlled}}</td>  
            <td>{{this.strength}}</td>
            <td>{{this.action}}</td>
            <td><button onclick="deleteDrug({{this.drugID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Add a Drug</h2>
<p>To add a new drug, please enter the information below and click 'Submit'.</p>
<form id="add-drug-form" method="POST" action="/drugs">
    <div class="group">
        <label for="input-generic">Generic Name: </label>
        <input type="text" name="genericName" id="input-generic">
    </div>
    <div class="group">
        <label for="input-brand">Brand Name: </label>
        <input type="text" name="brandName" id="input-brand">
    </div>
    <div class="group">
        <label for="input-desc">Description: </label>
        <input type="text" name="description" id="input-desc">
    </div>
    <div class="group">
        <label for="input-contr">Controlled: </label>
        <select name="isControlled" id="input-contr">
            <option value="test">Select one</option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select>
    </div>
    <div class="group">
        <label for="input-strength">Strength: </label>
        <input type="text" name="strength" id="input-strength">
    </div>
    <div class="group">
        <label for="input-action">Action: </label>
        <input type="text" name="action" id="input-action">
    </div>
    <input type="submit">
</form>

{{!-- Scripts --}}
<script src="./js/search_drugs.js"></script>
<script src="./js/delete_drug.js"></script>
