{{!-- Page name --}}
<h1>Nurses Has Patients</h1>

{{!-- Create a table --}}
<table id="nhp-table">
    <thead>
        <tr>
            <th>Nurse</th>
            <th>Patient</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each nhp}}
        <tr data-value-nid={{this.nurseID}} data-value-pid={{this.patientID}}>
            <td>{{this.nurseFName}} {{this.nurseLName}}</td>
            <td>{{this.patientFName}} {{this.patientLName}}</td>
            <td><button onclick="deleteNHP({{this.nurseID}},{{this.patientID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Add a Nurse Patient Relationship</h2>
<p>To add a new nurse patient relationship, please enter their information below and click 'Submit'.</p>
<form id="create-nhp-form" method="POST" action="/nhp">
    <div class="group">
        <label for="select_nurseID">Full name</label>
        <select name="nurseID" id="select_nurseID">
            <option value="test">Select a Nurse</option>
            {{#each nurses}}
            <option value="{{this.nurseID}}">{{this.nurseFName}} {{this.nurseLName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="group">
        <label for="select_patientID">Full name</label>
        <select name="patientID" id="select_patientID">
            <option value="test">Select a Patient</option>
            {{#each patients}}
            <option value="{{this.patientID}}">{{this.patientFName}} {{this.patientLName}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit">
</form>

{{!-- Scripts --}}
<script src="./js/delete_nhp.js"></script>
