{{!-- Adapted from https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}

{{!-- Page name --}}
<h1>Nurses</h1>

{{!-- Search bar --}}
<div class="group">
    <label for="search-nurse-name">Search by Nurse's First or Last Name: </label>
    <input type="text" id="search-nurse-name">
</div>

{{!-- Create a table --}}
<table id="nurses-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>License Number</th>
            <th>License Expiration</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.nurseID}}>
            <td class="first-name">{{this.nurseFName}}</td>
            <td class="last-name">{{this.nurseLName}}</td>
            <td>{{this.licenseNumber}}</td>
            <td>{{formatDate this.licenseExpiration}}</td>
            <td><button onclick="deleteNurse({{this.nurseID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Add a Nurse</h2>
<p>To add a new nurse, please enter their information below and click 'Submit'.</p>
<form id="add-nurse-form" method="POST" action="/nurses/create">
    <div class="group">
        <label for="input-fname">First Name: </label>
        <input type="text" name="fname" id="input-fname">
    </div>
    <div class="group">
        <label for="input-lname">Last Name: </label>
        <input type="text" name="lname" id="input-lname">
    </div>
    <div class="group">
        <label for="input-licnum">License Number: </label>
        <input type="text" name="licnum" id="input-licnum">
    </div>
    <div class="group">
        <label for="input-licexp">License Expiration: </label>
        <input type="date" name="licexp" id="input-licexp">
    </div>
    <input type="submit">
</form>

{{!-- Form to update a record in the table --}}
<h2>Update a Nurse License </h2>
<p>To update a nurse's License, select their name from the drop down menu, enter the new information, and click 'Submit'.</p>
<form id="update-nurse-form" method="POST" action="/nurses/update">
    <div class="group">
        <label for="select-fname">Full name: </label>
        <select name="nurseID" id="select-fname">
            <option value="test">Select a Nurse</option>
            {{#each data}}
            <option value="{{this.nurseID}}">{{this.nurseFName}} {{this.nurseLName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="group">
        <label for="input-licnum">License Number: </label>
        <input type="text" name="licnum" id="input-licnum">
    </div>
    <div class="group">
        <label for="input-licexp">License Expiration: </label>
        <input type="date" name="licexp" id="input-licexp">
    </div>
    <input type="submit">
</form>

{{!-- Scripts --}}
<script src="./js/search_nurses.js"></script>
<script src="./js/delete_nurse.js"></script>
