{{!-- Page name --}}
<h1>Prescriptions</h1>

{{!-- Create a table --}}
<table id="prescriptions-table">
    <thead>
        <tr>
            <th>Issue Date</th>
            <th>Dosage</th>
            <th>Route</th>
            <th>Frequency</th>
            <th>Refills</th>
            <th>Prescriber</th>
            <th>Special Notes</th>
            <th>Drug ID</th>
            <th>Patient ID</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.prescriptionID}}>
            <td>{{formatDate this.issueDate}}</td>
            <td>{{this.dosage}}</td>
            <td>{{this.route}}</td>
            <td>{{this.frequency}}</td>
            <td>{{this.refills}}</td>
            <td>{{this.prescriber}}</td>
            <td>{{#if this.specialNotes}}{{this.specialNotes}}{{else}}None{{/if}}</td>
            <td>{{this.drugID}}</td>
            <td>{{this.patientID}}</td>
            <td><button onclick="deletePrescription({{this.prescriptionID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Add a Prescription</h2>
<p>To add a new prescription, please enter the information below and click 'Submit'.</p>
<form id="create-prescription-form" method="POST" action="/prescriptions">
    <div class="group">
        <label for="input-issueDate">Issued Date: </label>
        <input type="date" name="issueDate" id="input-issueDate">
    </div>
    <div class="group">
        <label for="input-dosage">Dosage: </label>
        <input type="text" name="dosage" id="input-dosage">
    </div>
    <div class="group">
        <label for="input-route">Route: </label>
        <input type="text" name="route" id="input-route">
    </div>
    <div class="group">
        <label for="input-frequency">Frequency: </label>
        <input type="text" name="frequency" id="input-frequency">
    </div>
    <div class="group">
        <label for="input-refills">Refills: </label>
        <input type="number" name="refills" id="input-refills">
    </div>
    <div class="group">
        <label for="input-prescriber">Prescriber: </label>
        <input type="text" name="prescriber" id="input-prescriber">
    </div>
    <div class="group">
        <label for="input-specialNote">Special Notes: </label>
        <input type="text" name="specialNote" id="input-specialNote">
    </div>
    <div class="group">
        <label for="input-drugID">Drug ID: </label>
        <input type="number" name="drugID" id="input-drugID">
    </div>
    <div class="group">
        <label for="input-patientID">Patient ID: </label>
        <input type="number" name="patientID" id="input-patientID">
    </div>
    <input type="submit">
</form>

{{!-- Scripts --}}
<script src="./js/delete_prescription.js"></script>
